<h1>All the information you want about Star Wars !</h1>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <%= link_to 'Films', starwars_films_path, class:"btn btn-secondary" %>
    <%= link_to 'Characters', characters_index_path, class:"btn btn-secondary" %>
    <%= link_to 'Planets', planets_index_path, class:"btn btn-secondary" %>
    <button type="button" class="btn btn-secondary">Species</button>
    <button type="button" class="btn btn-secondary">Starships</button>
    <button type="button" class="btn btn-secondary">Vehicles</button>
  </div>
</div>
